@use 'sass:map';

@font-face {
  font-family: 'MostraNuova';
  src: url('./fonts/mostranuova5.woff2') format('woff2'), url('./fonts/mostranuova5.woff') format('woff');
}
@font-face {
  font-family: 'MostraNuova2';
  src: url('./fonts/mostranuova2.woff2') format('woff2'), url('./fonts/mostranuova2.woff') format('woff');
}

@mixin container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 2vw;
}
@mixin border-left {
  border-left: 2px solid;
  border-image: linear-gradient(0deg, #9e752b, #ccb283) 10;
  padding-left: 1rem;
}
@mixin border-right {
  border-right: 2px solid;
  border-image: linear-gradient(0deg, #9e752b, #ccb283) 10;
  padding-right: 1rem;
}
@mixin bg1 {
  background: linear-gradient(0deg, var(--bg1) 0%, var(--bg2) 100%);
}
@mixin bg2 {
  background: linear-gradient(0deg, var(--bg2) 0%, var(--bg1) 100%);
}
.container {
  @include container;
}
.sample {
  @include container;
}

$breakpoints: (
  mobile: 767px,
  tablet: 1024px,
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}
