@font-face {
   font-family: "MostraNuova";
   src: url("./fonts/mostranuova5.woff2") format("woff2"),
      url("./fonts/mostranuova5.woff") format("woff");
}
@font-face {
   font-family: "MostraNuova2";
   src: url("./fonts/mostranuova2.woff2") format("woff2"),
      url("./fonts/mostranuova2.woff") format("woff");
}

@mixin container {
   margin: 0 auto;
   max-width: 1200px;
   width: 100%;
   padding: 0 2vw;
}
.container {
    @include container;
}
.sample {
    @include container;
}
