.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2rem;
  @include mq(mobile) {
    display: flex;
    flex-direction: column-reverse;
  }

  form {
    margin-top: 3rem;
    > div {
      margin-bottom: 2rem;
    }
    label {
      color: var(--text-color) !important;
      opacity: 0.8;
      &.Mui-focused {
        opacity: 1;
        .form-field div {
          &:before,
          &:after {
            opacity: 1;
            border-width: 3px;
          }
        }
      }
    }
    .form-field div {
      &:before,
      &:after {
        border-bottom: 2px solid var(--secondary) !important;
        opacity: 0.5;
      }
    }
    input,
    textarea {
      color: var(--text-color) !important;
      font-family: var(--main-font);
      font-size: 1.2rem;
      line-height: 1.2;
    }
    svg {
      color: var(--secondary) !important;
    }
    button {
      display: block;
    }
  }

  img {
    width: 400px;
  }

  .error {
    color: #e93b3b;
    font-style: italic;
    font-size: 1rem;
  }
}
