.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2rem;
  @include mq(mobile) {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-form {
    width: 100%;
  }

  form {
    //margin-top: 3rem;
    > div {
      margin-bottom: 2rem;
    }
    label {
      color: var(--text-color) !important;
      opacity: 0.8;
      &.Mui-focused {
        opacity: 1;
        .form-field div {
          &:before,
          &:after {
            opacity: 1;
            border-width: 3px;
          }
        }
      }
    }
    .form-field:not(first-child) {
      margin-top: 2rem;
    }
    .form-field div {
      &:before,
      &:after {
        border-bottom: 2px solid var(--secondary) !important;
        opacity: 0.5;
      }
    }
    input,
    textarea {
      color: var(--text-color) !important;
      font-family: var(--main-font);
      font-size: 1.2rem;
      line-height: 1.2;
    }
    svg {
      color: var(--secondary) !important;
    }
    button {
      display: block;
      margin-top: 4rem;
    }
  }
  .error-message {
    background-color: rgba(255, 0, 0, 0.5);
    margin-top: 10px;
    padding: 8px;
    text-align: center;
    border-radius: 3px;
  }

  img {
    width: 400px;
  }

  .error {
    color: #e93b3b;
    font-style: italic;
    font-size: 1rem;
  }
}

.Toastify__toast {
  background: var(--bloc-1) !important;
  color: var(--text-color) !important;
  padding: 1rem;
}
.Toastify__toast-container {
  left: 50%;
  transform: translate(-50%, 50%) !important;
  width: 350px !important;
  font-size: 1rem;
  line-height: 2 !important;
  text-align: center;
}
.Toastify__progress-bar--default {
  background: var(--secondary) !important;
}
.Toastify__close-button--default {
  display: none;
}
