footer {
  margin-top: auto;
  background-color: var(--bloc-1);
}
.footer-wrapper {
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: baseline;
  @include mq(tablet) {
    grid-template-columns: 1fr 1fr;
  }
  // @include mq(mobile) {
  //   grid-template-columns: 1fr;
  // }
  a {
    font-weight: normal;
  }
  .footer-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-col-title {
    margin: 0 0 1rem 0;
    font-size: 1.3rem;
    font-family: var(--title-font);
    text-transform: uppercase;
    line-height: 1;
    color: var(--contrast);
  }
  .footer-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary);
  }
  .col-desc {
    margin-top: 0.8rem;
    opacity: 0.8;
  }
  .col-name {
    opacity: 0.8;
  }
  .copyright {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
  }
}

.jump {
  display: inline-flex;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  cursor: pointer;
}
