/*--------------------
  HERO
----------------------*/
.hero {
  background: var(--hero-bg);
  @include bg1;
  width: 100%;
  position: relative;

  &-wrapper {
    display: grid;
    place-items: center;
    column-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    min-height: calc(100vh - 100px);
    @include mq(tablet) {
      grid-template-columns: 3fr 2fr;
    }
    @include mq(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &-content {
    margin-bottom: 150px;
    position: relative;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   inset: 0;
    //   top: 20px;
    //   height: 100%;
    //   width: 100%;
    //   background-color: #994272;
    //   filter: blur(60px);
    //   opacity: 0.15;
    //   z-index: -1;
    // }
    @include mq(tablet) {
      margin-bottom: 0;
    }
  }
  &-site-name {
    font-size: 1rem;
    font-weight: 100;
  }
  &-title {
    font-family: var(--title-font);
    font-size: clamp(2rem, 5rem, 7vw);
    line-height: 0.9;
    margin: 1rem 0 2rem 0;
    color: var(--contrast);
    // span {
    //   opacity: 0.3;
    // }
  }
  &-subtitle {
    font-size: 1.3rem;
    justify-self: end;
    @include border-left;
  }

  svg {
    width: 500px;
    height: auto;
    @include mq(mobile) {
      width: 300px;
    }
  }

  .parallax {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      &.black-trees {
        z-index: 9;
      }
      &.dark-purple-trees {
        z-index: 7;
      }
      &.purple-trees {
        z-index: 6;
      }
      &.orange-trees {
        z-index: 5;
      }
      &.mountains {
        z-index: 4;
      }
      &.clouds1 {
        z-index: 3;
        top: 20vh;
        width: 300px;
        animation: cloud1 linear 30s infinite alternate;
      }
      &.clouds2 {
        z-index: 2;
        top: 40vh;
        width: 300px;
        animation: cloud2 linear 15s infinite alternate;
      }
      @keyframes cloud1 {
        from {
          left: 0;
        }
        to {
          left: 80%;
        }
      }
      @keyframes cloud2 {
        from {
          left: 30%;
        }
        to {
          left: 70%;
        }
      }
    }
  }
}
/*--------------------
  PRÉSENTATION
----------------------*/
.presentation {
  display: grid;
  grid-template-columns: 4fr 3fr;
  overflow: hidden;
  @include bg2;
  @include mq(tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @include mq(mobile) {
    grid-template-columns: 1fr;
  }

  &-content {
    padding-bottom: 5rem;
  }

  h2 {
    margin-top: 5rem;
  }

  .cta {
    text-align: center;
    margin-top: 2rem;
  }

  &-hero {
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
/*--------------------
  ATOUTS
----------------------*/
.atouts {
  display: grid;
  grid-template-columns: 3fr 4fr;
  padding-top: 100px;
  @include bg1;

  @include mq(tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @include mq(mobile) {
    display: flex;
    flex-direction: column-reverse;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    @include mq(tablet) {
      grid-template-columns: 1fr;
    }
  }

  &-item {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding: 2rem 1rem;
    text-align: center;

    svg {
      font-size: 1.6rem;
      margin-bottom: 15px;
    }

    &:nth-child(1) {
      background-color: var(--primary-500);
    }
    &:nth-child(2) {
      background-color: var(--primary-400);
    }
    &:nth-child(3) {
      background-color: var(--primary-300);
    }
    &:nth-child(4) {
      background-color: var(--primary-600);
    }
  }

  &-title {
    font-weight: 600;
  }

  p {
    font-size: 1rem;
    opacity: 0.8;
  }

  &-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin: 4rem 0 2rem;
      text-align: right;
    }

    img {
      width: 450px;
      margin: 0 auto 50px;
      padding: 2rem;
    }
  }
}
/*--------------------
  Contact
----------------------*/
.contact-section {
  z-index: 0;
  padding: 100px 0;
  display: grid;
  place-items: center;
  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-400);
    opacity: 0.8;
    z-index: 1;
  }
  &-content {
    position: relative;
    z-index: 2;
    text-align: center;
    h2 {
      margin: 0;
    }
    p {
      margin: 10px 0 2rem 0;
    }
  }
}

.sample {
  overflow: hidden;
}
