.prestations-bloc {
  display: flex;
  > div {
    height: 500px;
    flex-grow: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.3s ease-in-out;
    &:hover {
      flex-grow: 3;
    }
  }
}
